html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*margin-bottom: 60px;*/
}



.image {
    width: 100%;
    height: auto;
}



/* Sidebar */
#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}



/* Bootstrap */
.btn-primary {
    background-color: #F2545B;
    border-color: #F2545B;
}
.btn-primary:hover {
    background-color: #DB4249;
    border-color: #DB4249;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
    background-color: #F2545B;
    border-color: #F2545B;
}



.page-item.active .page-link {
    background-color: #F2545B;
    border-color: #F2545B;
}
.page-item.disabled .page-link {
    color: #DB4249;
    background-color: #fff;
    border-color: #dee2e6;
}
.page-item > .page-link {
    color: black;
}
.page-item > .page-link:hover {
    color: black;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #F2545B;
}
.nav-link {
    color: black;
}
.nav-link:hover, .nav-link:focus {
    color: black;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #F2545B;
}
