@using Microsoft.AspNetCore.Identity
@using Biblioteczka.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Strona główna";
}

<h4>Ostatnio dodane</h4>
<partial name="Templates/_BookSelected" model="@Model.BooksDate"/>

<h4>Najnowsze wydania</h4>
<partial name="Templates/_BookSelected" model="@Model.BooksYear"/>

