@using Microsoft.AspNetCore.Identity
@using Biblioteczka.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Strona główna";
}

@if (!User.IsInRole("Admin")){
    <div class="container">
        <partial name="Templates/_IndexPage"/>
    </div>
}
else {
    <partial name="Templates/_IndexPage"/>
}

