@{
     ViewData["Title"] = "O użytkowniku";
}

<partial name="Templates/_BackButton"/>

<div class="col-sm-6 mx-auto bg-white rounded shadow d-flex">
    <div class="col-12 p-3">
        <div class="text-center">
            <h4>@Model.UserName</h4>
            <p>Id: @Model.Id</p>
        </div>
    </div>  
</div>