@{
     ViewData["Title"] = "Zmień rolę użytkownika";
}

<partial name="Templates/_BackButton"/>

<div class="col-sm-6 mx-auto">
    <partial name="Templates/_Alert" model="@TempData["Alert"]?.ToString()"/>
    <div class="bg-white rounded shadow p-4">
        <form asp-controller="User" asp-action="Role" method="post">
            <partial name="Templates/_FormHeader" model="@ViewData["Title"]"/>

            <div class="mb-3">
                <label>Użytkownik</label>
                <p class="form-control">@Model.UserName</p>
            </div>

            <div class="mb-3">
                <select name="Role" class="form-control">
                <option value="Admin">Administrator</option>
                <option value="User">Zwykły użytkownik</option>
                </select>
            </div>

            <partial name="Templates/_FormButton"/>
        </form>
    </div>
</div>