@page "/ZapomnialesHasla"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zapomniałeś hasła?";
}


<div class="col-sm-6 mx-auto">
    <div class="bg-white rounded shadow p-4">
        <form method="post">
            <h1>@ViewData["Title"]</h1>
            <h2>Wprowadź swój email.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                    data-val-email="Pole Email nie jest prawidłowym adresem email." 
				    data-val-required="Pole Email jest wymagane."/>  
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary mb-4">Resetuj hasło</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
