@page "/Rejestracja"
@model RegisterModel
@{
	ViewData["Title"] = "Rejestracja użytkownika";
}
<div class="mb-3">
    <partial name="Templates/_BackButton"/>
</div>

<div class="col-sm-8 col-md-6 mx-auto">
    <partial name="Templates/_Alert" model="@TempData["Alert"]?.ToString()"/>
    <div class="bg-white rounded shadow p-4">
		<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<h1>@ViewData["Title"]</h1>
			<h4>Utwórz nowe konto.</h4>
			<hr />
			<h5>Dane dotyczące konta</h5>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-3">
				<label asp-for="Input.UserName">Login</label>
				<input asp-for="Input.UserName" class="form-control"
					data-val-required="Pole Login jest wymagane."/>
				<span asp-validation-for="Input.UserName" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Input.Email">Email</label>
				<input asp-for="Input.Email" class="form-control"
					data-val-email="Pole Email nie jest prawidłowym adresem email." 
					data-val-required="Pole Email jest wymagane."/>
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Input.Password">Hasło</label>
				<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" 
					data-val-required="Pole Hasło jest wymagane."
					data-val-length="Hasło musi mieć co najmniej 6 i maksymalnie 100 znaków." />
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Input.ConfirmPassword">Potwierdź hasło</label>
				<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"
					data-val-equalto="Hasło i hasło potwierdzające nie pasują do siebie."/>
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>

			<hr />
			<h5>Dane dotyczące użytkownika</h5>
			<div class="mb-3">
				<label asp-for="Input.Name">Imię</label>
				<input asp-for="Input.Name" class="form-control"
					data-val-required="Pole Imię jest wymagane."/>
				<span asp-validation-for="Input.Name" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Input.LastName">Nazwisko</label>
				<input asp-for="Input.LastName" class="form-control"
					data-val-required="Pole Nazwisko jest wymagane."/>
				<span asp-validation-for="Input.LastName" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Input.Pesel">Pesel</label>
				<input asp-for="Input.Pesel" class="form-control" oninput="InpuNumber(this);" maxlength="11"
					data-val-required="Pole Pesel jest wymagane."/>
				<span asp-validation-for="Input.Pesel" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Input.LibraryCardNumber">Numer karty bibliotecznej</label>
				<div class="input-group">
					<span class="input-group-text">LCD</span>
					<input asp-for="Input.LibraryCardNumber" class="form-control" oninput="InpuNumber(this);" maxlength="8"/>		
				</div>
				<span asp-validation-for="Input.LibraryCardNumber" class="text-danger"></span>
			</div>	

			<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mb-4">Zarejestruj</button>
		</form>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
