@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}



<div class="container">
    <div class="mx-auto">
        <div class="bg-white rounded shadow p-4">
            <h1>Zarządzanie kontem</h1>
            <h4>Zmień ustawienia konta</h4>
            <hr />
            <div class="row">
                <div class="col-md-3 mb-3">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
