@page "/Ustawienia/Profil"
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Username" class="form-label">Login</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="mb-3">
                <label asp-for="Input.Name" class="form-label">Imię i nazwisko</label>
                <input class="form-control" disabled value="@Model.Input.Name @Model.Input.LastName"/>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Pesel" class="form-label">Pesel</label>
                <input asp-for="Input.Pesel" class="form-control" disabled />
            </div>
            <div class="mb-3">
                <label asp-for="Input.LibraryCardNumber" class="form-label">Numer karty bibliotecznej</label>
                <input asp-for="Input.LibraryCardNumber" class="form-control" disabled />
            </div>

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary mb-4">Zapisz</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
