@{
     ViewData["Title"] = "Zmień rolę użytkownika";
}

<div class="col-sm-6 mx-auto">
    <form asp-controller="User" asp-action="Role" method="post">
        <h3 class="mb-3">Zmień rolę użytkownika</h3>

        <div class="mb-3">
            <label>Użytkownik</label><br>
            <p class="form-control">@Model.UserName</p>
        </div>

        <div class="mb-3">
            <select name="Role">
            <option value="Admin">Administrator</option>
            <option value="User">Zwykły użytkownik</option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Zapisz</button>
    </form>
</div>