@{
     ViewData["Title"] = "Dodaj autora";
}

<partial name="Templates/_BackButton"/>

<div class="col-sm-6 mx-auto">
    <partial name="Templates/_Alert" model="@ViewData["Alert"]?.ToString()"/>
    <div class="bg-white rounded shadow p-4">
        <form asp-controller="Author" asp-action="Create" method="post">
            <partial name="Templates/_FormHeader" model="@ViewData["Title"]"/>

            <div class="mb-3">
                <label for="Name">Imię</label>
                <input id="Name" name="Name" type="text" class="form-control" minlength="3" maxlength="100" required>
            </div>

            <div class="mb-3">
                <label for="LastName">Nazwisko</label>
                <input id="LastName" name="LastName" type="text" class="form-control" minlength="3" maxlength="100" required>
            </div>
        
            <partial name="Templates/_FormButton"/>
        </form>
    </div>
</div>

