@{
     ViewData["Title"] = "O autorze";
}

<partial name="Templates/_BackButton"/>


<div class="col-sm-6 mx-auto">
    <h3>@ViewData["Title"]</h3>
    <h3>@Model.Author.Name @Model.Author.LastName</h3>
</div>

<partial name="Templates/_BookListAdmin"/>