@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6 col-sm-10 col-12 mx-auto bg-white rounded shadow p-4">
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}