@using Microsoft.AspNetCore.Identity
@using Biblioteczka.Areas.Identity.Data
@using Biblioteczka.Data;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (User.IsInRole(AppData.Admin) || User.IsInRole(AppData.Librarian))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin @UserManager.GetUserName(User)
            </a>
            <ul id="nav-dropdown" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" asp-controller="Book" asp-action="Index">Książki</a></li>
                <li><a class="dropdown-item" asp-controller="Author" asp-action="Index">Autorzy</a></li>
                <li><a class="dropdown-item" asp-controller="Copy" asp-action="Index">Egzemplarze</a></li>
                <li><a class="dropdown-item" asp-controller="Loan" asp-action="Index">Wypożyczone</a></li>
                <li><a class="dropdown-item" asp-controller="Reservation" asp-action="Index">Rezerwacje</a></li>
                <li><a class="dropdown-item" asp-controller="User" asp-action="Index">Użytkownicy</a></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Ustawienia</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item">Wyloguj</button>
                    </form>
                </li>
            </ul>
        </li>
     }
    else if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="user" class="nav-link text-white fw-bold" title="User">@UserManager.GetUserName(User)</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" asp-controller="Loan" asp-action="Index">Wypożyczone</a></li>
                <li><a class="dropdown-item" asp-controller="Reservation" asp-action="Index">Rezerwacje</a></li>
                <li><a class="dropdown-item" href="#">Ulubione</a></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Ustawienia</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item">Wyloguj</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white fw-bold" id="login" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
        </li>
    }
</ul>
