@{
     ViewData["Title"] = "Edytuj książkę";
}

<div class="col-sm-6 mx-auto">
    <form asp-controller="Book" asp-action="Edit" method="post">
        <h3 class="mb-3">Edytuj książkę</h3>
        
        <div class="mb-3">
            <label for="Title">Tytuł</label><br>
            <input id="Title" name="Title" type="text" class="form-control" minlength="3" maxlength="100" required value="@Model.Title">
        </div>

        <div class="mb-3">
            <label for="Author">Autor</label><br>
            <select id="Author" name="Author" class="form-control">
                <option selected value="1">Ten Jeden</option>
                <option value="2">Nie ten</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="Description">Opis</label><br>
            <input id="Description" name="Description" type="text" class="form-control" minlength="3" maxlength="100" required value="@Model.Description">
        </div>

        <div class="mb-3">
            <label for="Image">Obraz</label><br>
            <input id="Image" name="Image" type="file" class="form-control" minlength="3" maxlength="100" required>
        </div>

        <div class="mb-3">
            <label for="Year">Rok</label><br>
            <input id="Year" name="Year" type="number" class="form-control" minlength="3" maxlength="100" required value="@Model.Year">
        </div>

        <div class="mb-3">
            <label for="City">Miasto</label><br>
            <input id="City" name="City" type="text" class="form-control" minlength="3" maxlength="100" required value="@Model.City">
        </div>
        
        <button class="btn btn-primary" type="submit">Zapisz</button>
    </form>
</div>