@model BookAuthorViewModel
@{
    ViewData["Title"] = "Książki";
    string path = "/Book";
}

<partial name="Templates/_Alert" model="@TempData["Alert"]?.ToString()"/>
<partial name="Templates/_SearchBar" model="@path"/>

@if (User.IsInRole("Admin")){
    <partial name="Templates/_BookListAdmin"/>
}
else {
    <partial name="Templates/_BookList"/>
}

<div class="row">
    <div class="col-md-4">
        <div class="">

        </div>
    </div>
</div>

<partial name="Templates/_Pagination" model="@Model.BookList"/>